*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: antiquewhite;
    display: flex;
    padding: 2rem;
}

ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}

.center{
    position: inherit;
    display: flex;
    flex-grow: 3;
    justify-content: space-evenly;
}

.right{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.left{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}