* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Goldman", cursive;
}

body{
  background-color: black;
}

nav{
  position: fixed;
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  /* margin: auto; */
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  margin-top: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

ul{
  list-style-type: none;
  overflow: auto;
}

li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  padding: 0.8rem 1rem;
  /* display: inline-block; */
}

.dropdown-content{
  display: none;
  /* display: flex; */
  position: absolute;
  background-color: white;
  min-width: 20vw;
  z-index: 1;
  /* box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,2); */
  z-index: 1;
  flex-direction: column;
}

.dropdown-content a{
  padding: 0.8rem 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #00a8c7;
}

.dropdown-content a:hover{
  background-color: #f1f1f1;
}

.dropdown:hover .dropbtn{
  color: #00a8c7;
  background-color: white;
}

.dropdown:hover .dropdown-content{  
  display: flex;
}